* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 100%;
	height: 100%;
	margin: 5rem 2rem;
	min-height: 60rem;
}

.game-body {
	display: none;
	background: rgb(107, 106, 69);
	flex-wrap: wrap;
	align-content: flex-start;
	margin: 0 auto;
	border: 5px solid rgb(139, 123, 0);
}

.game-body.x1 {
	display: flex;
	width: 5rem;
	height: 5rem;
}

.game-body.x2 {
	display: flex;
	width: 9rem;
	height: 9rem;
}

.game-body.x3 {
	display: flex;
	width: 13rem;
	height: 13rem;
}

.game-body.x4 {
	display: flex;
	width: 17rem;
	height: 17rem;
}

.game-body.x5 {
	display: flex;
	width: 21rem;
	height: 21rem;
}

.game-body.x6 {
	display: flex;
	width: 25rem;
	height: 25rem;
}

.game-body.x7 {
	display: flex;
	width: 29rem;
	height: 29rem;
}

.game-body.x8 {
	display: flex;
	width: 33rem;
	height: 33rem;
}

.game-body.x9 {
	display: flex;
	width: 37rem;
	height: 37rem;
}

.game-body.x10 {
	display: flex;
	width: 41rem;
	height: 41rem;
}

.game-body.ERROR {
	display: flex;
	width: 32rem;
	height: 10rem;
	align-content: center;
	border: none;
}

.game-body.ERROR h1 {
	text-align: center;
	padding: 5px;
	color: rgb(237, 216, 133);
}

.game-body div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	font-size: 1.4rem;
	border: 5px solid;
	border-image: linear-gradient(
		to right bottom,
		rgb(184, 182, 132) 50%,
		rgb(80, 85, 61) 50%
	);
	border-image-slice: 1;
	cursor: default;
}

img {
	width: 50%;
	height: 50%;
}

.checked {
	background: #cecab7;
}

.input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}

.input-wrapper input {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid gray;
	margin: 0 5px;
}

.start {
	display: block;
	margin: 0 auto;
	border: 1px solid rgb(139, 79, 0);
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 25px;
	background: rgba(131, 128, 25, 0.302);
}

.result h2 {
	margin-top: 5rem;
	text-align: center;
	font-size: 24px;
}
